
body {
    padding: 0px 20px;
}

#game-area {
    margin-top:50px;
    position:relative;
    /*width:1000px;*/
}


#chat-area {
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
    padding-bottom:10px;
}

#data_received {
    margin-bottom:10px;
    width:200px;
    overflow:scroll;
    height:420px;
}

#cr-stage {
    position:absolute:
    top:0px;
    left:205px;
    z-index:0;
}