
body {
    padding: 0px 20px;
    font-family: sans-serif;
}

ul {
    list-style: none;
    padding-left:0;
}

li {
    margin-bottom:5px;
}

#cr-stage {
    width: 1000px;
    float: left;
    margin-bottom: 100px;
}

/*#chat {
    width: 195px;
    float: left;
}*/

#chat {
    margin-bottom:10px;
    width:195px;
    overflow:scroll;
    height:420px;
    float: left;
}

#chat .player1 {
    color: red;
}

#chat .player2 {
    color: green;
}

#games {
    clear: both;
    margin-top: 100px;
}

/*
.gameinfo {
    color:red;
}

#game-area {
    margin-top:50px;
    position:relative;
}


#chat-area {
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
    padding-bottom:10px;
}

#data_received {
    margin-bottom:10px;
    width:200px;
    overflow:scroll;
    height:420px;
}

div.message_spacing {
	line-height:12px;
}

textarea {
    width:195px;
}

#cr-stage {
    font-size:12px;
    position:absolute;
    top:0px;
    left:205px;
    z-index:0;
}

canvas{
	z-index:1;
}
*/